/*Colors*/

a{
    color: black;
}

a:hover{
    color: #2a4c73  
}

nav{
    background-color: #d5e5fb;
}

header{
    background-color: white;
}

section{

}
footer{
    background-color: #d5e5fb;
}